*{
    padding: 0px;
    margin: 0px;
}

.time{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    color: white;
    font-family: Russo;
    background: url(./img/BACKGROUND\ .png);
    background-size: -100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    /* background-color: red; */
    font-size: 85px;
    text-align: center;
}

.home-btn{
    cursor: pointer;
}

.inner-time{
    height: 500px;
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .time{
        width: 1000px;
        height: 500px;
        justify-content: space-between;
        /* background-color: green; */
        margin-top: 0px;
    }
    .time p{
        font-size: 45px;
    }
}
